/**
 * The bubble component.
 */

@import "../../../scss/config/colors";

.bubble {
    position: relative;

    align-self: flex-start;
    width: auto;
    max-width: calc(100% - 1rem);
    padding: 1.5rem;
    margin: 0 0 1.5rem 1rem;

    background: $white;

    border: 2px solid $black;
    border-radius: 1rem;

    font-size: 2rem;
    line-height: 150%;

    &::before {
        content: "";

        position: absolute;
        top: 1rem;
        left: -2rem;

        width: 0px;
        height: 0px;

        border: 1rem solid transparent;
        border-right-color: $black;
    }

    &--full {
        max-width: calc(100% - 1rem);
    }

    &--me {
        align-self: flex-end;
        background: $green;
    }

    &--hidden {
        display: none;
    }
}
