/**
 * The base container styles.
 */

.container {
    position: relative;

    width: 100%;
    max-width: 100rem;
    height: 100%;
    padding: 1rem 1rem 16rem 1rem;
    margin: 0 auto;

    @media (min-width: 450px) {
        padding: 1rem 1rem 8rem 35rem;
    }
}
