/**
 * Typography styles.
 */

/**
 * Remove the default margin from text elements.
 */
p,
h1,
h2,
h3 {
    margin: 0 0 1.5rem 0;
}

h1 {
    padding: 15rem 0 10rem 0;

    color: $blue;
    font-size: 4rem;
    text-align: center;
    line-height: 120%;

    @media (min-width: 450px) {
        font-size: 6.9rem;
        line-height: 150%;
    }
}

/**
 * Anchor styles
 */
a {
    color: $primary;
    text-decoration: none;
}

/**
 * Strong styles
 */
strong {
    color: $blue-dark;
}

/**
 * Pre styles
 */
pre {
    overflow: auto;
    margin: 0;

    font-size: 1.6rem;
}
