/**
 * The slide navigation component.
 */

@import "../../../scss/config/colors";


.slide-nav {
    transform: translate3d(0, -50%, 0);

    position: fixed;
    top: 50%;
    left: 2rem;

    width: 4rem;
    height: 4rem;
    padding: 1rem 0 0 0;

    background: $blue;

    border-radius: 50%;

    text-align: center;
    line-height: 4rem;

    &--left {
    }

    &--right {
        left: auto;
        right: 2rem;
    }
}
