/**
 * The map component.
 */

@import "../../../scss/config/colors";

.map {
    position: relative;
    overflow: hidden;

    height: 50rem;


    img {
        margin: 0 auto;
    }

    &__marker {
        transform: translate3d(-50%, -50%, 0);

        position: absolute;
        top: 50%;
        left: 50%;

        svg * {
            fill: $blue-dark;
        }
    }
}
