/**
 * Import custom fonts.
 * Never declare styles in this file.
 */

$roboto-path: "../fonts/Baloo/";

/* baloo-bhaina-regular - latin */
@font-face {
 font-family: 'Baloo Bhaina';
 font-style: normal;
 font-weight: 400;
 src: local('Baloo Bhaina'), local('BalooBhaina-Regular'),
      url('#{$roboto-path}baloo-bhaina-v1-latin-regular.woff2') format('woff2'),
      url('#{$roboto-path}baloo-bhaina-v1-latin-regular.woff') format('woff');
}
