/**
 * Typography configuration, use this file to declare variables.
 * Never declare styles in this file.
 */

$baloo: 'Baloo Bhaina', Helvetica, sans-serif;

$font-size: 1.6rem;
$font-family: $baloo;

$h1-font-size: 2.4rem;
$h2-font-size: 2rem;
$h3-font-size: 1.8rem;

$font-weight-light: 100;
$font-weight-medium: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-color: $black;
