/**
 * The cat component.
 */

.cat {
    position: absolute;;
    bottom: 3.5rem;
    left: 0;
    width: 10rem;

    @media (min-width: 450px) {
        width: 20rem;
    }

    @media (min-width: 700px) {
        width: 30rem;
    }
}
